<!DOCTYPE html>
<html>
  <head>
    <title>Restock Report</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <!-- load bulma css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="shortcut icon"
      href="https://www.freepnglogos.com/uploads/chick-fil-a-png-logo/chiefs-dominate-against-war-eagles-png-logo-7.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        height: 100vh;
        font-size: 15px;
      }

      .logo {
        position: fixed;
        top: 2%;
        height: 40px;
        left: 48%;
      }

      .profile-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        bottom: 5px;
        left: 5px;
        position: fixed;
        margin-top: 15px;
      }

      .profile {
        font-size: 15px;
        margin-right: 10px;
      }

      .signout {
        font-size: 15px;
        text-align: right;
        color: white;
        background-color: red;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
        text-decoration: none;
      }

      .signout:hover {
        background-color: white;
        color: red;
        text-decoration: none;
      }

      /*Google Translate API*/

      #google_translate_element {
        position: fixed;
        top: 2%;
        right: 3%;
        color: transparent;
      }

      #google_translate_element a {
        display: none;
      }

      .goog-te-gadget {
        color: transparent !important;
      }

      .goog-te-gadget img {
        display: none !important;
      }

      body > .skiptranslate {
        display: none;
      }

      /*Weather API*/

      fieldset {
        display: block;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-before: 0em;
        -webkit-padding-start: 0em;
        -webkit-padding-end: 0em;
        -webkit-padding-after: 0em;
        border: 0px;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        min-width: -webkit-min-content;
      }

      form {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 1.3%;
        right: 15%;
      }

      .display-weather {
        background-color: #fff;
        padding: 5px 10px 10px 10px;
      }

      input[type="text"] {
        display: inline-block;
        width: 100%;
        margin-right: 10px;
        border-radius: 3px;
      }

      input[type="submit"] {
        display: inline-block;
        width: 100%;
      }

      .ghost-input,
      p {
        display: block;
        font-size: 15px;
        border: 0px;
        outline: none;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: #fff;
        margin: 10px 0px;
        color: red;
      }

      .ghost-input:focus {
        border-bottom: 1px solid #ddd;
      }

      .ghost-button {
        background-color: transparent;
        border: 1px solid #ddd;
        font-size: 13px;
        margin: 10px 0px;
        border-radius: 3px;
      }

      .ghost-button:hover {
        border: 1px solid #515151;
      }

      .grid {
        width: 100%;
      }

      .dropdown {
        position: fixed;
        top: 2%;
        right: 13%;
      }

      .dropbtn {
        background-color: red;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
        margin-right: 5px;
        border-radius: 3px;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        right: 10%;
        margin-top: 10px;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      /*BACK BUTTON*/
      .backbtn {
        position: absolute;
        top: 2%;
        left: 0.5%;
      }

      .signout {
        color: white;
        background-color: red;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
        text-decoration: none;
      }

      .signout:hover {
        background-color: white;
        color: red;
        text-decoration: none;
      }

      /*Text Enlarge Button*/
      #font-changing {
        position: absolute;
        top: 2%;
        left: 5%;
      }
      #enlarge-button,
      #reset-button {
        color: white;
        background-color: red;
        border-radius: 10px;
        padding: 5px 12px;
        cursor: pointer;
        text-decoration: none;
      }

      #enlarge-button:hover,
      #reset-button:hover {
        background-color: white;
        color: red;
        text-decoration: none;
      }

      /*Table Section*/
      .table-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        margin-top: 100px;
      }

      .table-container > h1 {
        margin-bottom: 20px;
      }

      table {
        border-collapse: collapse;
        width: 800px;
        margin: 0 auto;
      }

      th,
      td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
      }

      tr:hover {
        background-color: #f5f5f5;
      }

      .date-range {
        display: inline-block;
        margin-bottom: 10px;
      }
    </style>

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            includedLanguages: "en,zh-CN,cs,da,fr,es,vi",
          },
          "google_translate_element"
        );
      }

      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }

      function enlargeText() {
        const elementsToEnlarge = document.querySelectorAll("body *");

        elementsToEnlarge.forEach((element) => {
          const currentFontSize = parseFloat(
            window.getComputedStyle(element).fontSize
          );
          const newFontSize = currentFontSize + 1;

          element.style.fontSize = `${newFontSize}px`;
        });
      }

      const enlargeButton = document.getElementById("enlarge-button");
      enlargeButton.onclick = enlargeText;

      function resetText() {
        const elementsToReset = document.querySelectorAll("body *");

        elementsToReset.forEach((element) => {
          element.style.fontSize = null;
        });
      }
    </script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
  </head>
  <body>
    <!---Back Button--->
    <div class="backbtn">
      <a href="/dashboard" class="signout">Back</a>
    </div>

    <!--Weather API Section--->
    <div class="container">
      <fieldset>
        <form action="/restockReport" method="post">
          <input
            name="city"
            type="text"
            class="ghost-input"
            placeholder="Enter a City"
            required
          />
          <input type="submit" class="ghost-button" value="Get Weather" />
        </form>
      </fieldset>
      <%if( weather !==null){ %>
      <div class="dropdown">
        <button class="dropbtn">&#9662;</button>
        <div class="dropdown-content">
          <div class="display-weather">
            <div class="grid">
              <p><%= place %></p>
              <p class="text-muted small"><%= timezone %></p>
            </div>
            <div class="card-deck">
              <div class="card card-accent-dark mb-3">
                <div class="card-body text-dark">
                  <img src="<%= icon %>" alt="Weather-Icon" />
                  <h5 class="card-title">Temperature</h5>
                  <p class="card-text">
                    In Degrees: <%= temp %>°C/ <%= fahrenheit %>°F
                  </p>
                  <h5 class="card-title">Main</h5>
                  <p class="card-text"><%= main %></p>
                </div>
              </div>
            </div>
            <% } %> <% if(error !==null){ %>
            <p><%= error %></p>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <!---Google Translate Section --->
    <div id="google_translate_element"></div>

    <!---Enlarge Text Button--->
    <div id="font-changing">
      <a id="reset-button" onClick="resetText()">Reset Text</a>
      <a id="enlarge-button" onClick="enlargeText()">Enlarge Text</a>
    </div>

    <!---Table Section--->
    <div class="table-container">
      <h1>Restock Report</h1>
      <table id="sales-table">
        <thead>
          <tr>
            <th>Ingredients</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < results.length; i++) { %>
          <tr>
            <td><%= results[i].ingredient %></td>
            <td><%= results[i].quantity %></td>
            <td><%= results[i].unit %></td>
            <td><%= results[i].type %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <img src="../images/Chick-fil-A-Logo.png" class="logo" />
    <div class="profile-container">
      <div class="profile">
        <strong>Name</strong>: <%= userProfile.displayName %> <br />
        <strong>Role</strong>: <%= userRole %> <br />
      </div>
      <a href="/logout" class="signout">Sign Out</a>
    </div>
  </body>
</html>
