<!DOCTYPE html>
<html>
  <head>
    <title>Sales Report</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <!-- load bulma css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="shortcut icon"
      href="https://www.freepnglogos.com/uploads/chick-fil-a-png-logo/chiefs-dominate-against-war-eagles-png-logo-7.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        height: 100vh;
        font-size: 15px;
      }

      .logo {
        position: absolute;
        top: 2%;
        height: 40px;
        left: 48%;
      }

      .profile-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        bottom: 5px;
        left: 5px;
        position: fixed;
        margin-top: 15px;
      }

      .profile {
        font-size: 15px;
        margin-right: 10px;
      }

      .signout {
        font-size: 15px;
        text-align: right;
        color: white;
        background-color: red;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
        text-decoration: none;
      }

      .signout:hover {
        background-color: white;
        color: red;
        text-decoration: none;
      }

      /*BACK BUTTON*/
      .backbtn {
        position: absolute;
        top: 2%;
        left: 0.5%;
      }

      .signout {
        color: white;
        background-color: red;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
        text-decoration: none;
      }

      .signout:hover {
        background-color: white;
        color: red;
        text-decoration: none;
      }

      /*Table Section*/
      .table-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        left: 50%;
        padding-top: 100px;
      }

      .table-container > h1 {
        margin-bottom: 20px;
      }

      table {
        border-collapse: collapse;
        width: 800px;
        margin: 0 auto;
      }

      th,
      td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
      }

      tr:hover {
        background-color: #f5f5f5;
      }

      .date-range {
        display: inline-block;
        margin-bottom: 10px;
      }
    </style>

    <script type="text/javascript">
      function resetTable() {
        // Get the table rows and show them
        const rows = document.querySelectorAll("#sales-table tbody tr");
        rows.forEach((row) => {
          row.style.display = "";
        });

        // Call displayData() with the date range 2022-01-01 to 2022-12-30
        document.getElementById("start-date").value = "2022-01-01";
        document.getElementById("end-date").value = "2022-12-30";
        document.getElementById("generateReport").click();
      }
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#generateReport").click(function () {
          // Get the user input values
          const startDate = $('input[name="start-date"]').val();
          const endDate = $('input[name="end-date"]').val();

          // Send an AJAX request to call the salesReport function with new start and end dates
          $.ajax({
            url: "/salesReport",
            type: "POST",
            data: { startDate: startDate, endDate: endDate },
            success: function (data) {
              const tableContainer = $(".table-container");
              tableContainer.html(data);
            },
            error: function (xhr, textStatus, errorThrown) {
              console.log("Error: ", errorThrown);
            },
          });
        });
      });
    </script>
  </head>
  <body>
    <img src="../images/Chick-fil-A-Logo.png" class="logo" />
    <!---Back Button--->
    <div class="backbtn">
      <a href="/dashboard" class="signout">Back</a>
    </div>

    <!---Table Section--->
    <div class="table-container">
      <h1>Sales Report</h1>
      <div class="date-range">
        <label for="start-date">Start Date:</label>
        <input type="date" id="start-date" name="start-date" />
        <label for="end-date">End Date:</label>
        <input type="date" id="end-date" name="end-date" />
        <button id="generateReport">Generate Report</button>
        <button onclick="resetTable()">Reset Table</button>
      </div>
      <table id="sales-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Item</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <% itemList.forEach(function(item) { %>
          <tr>
            <td><%= startDate %> - <%= endDate %></td>
            <td><%= item[0] %></td>
            <td><%= item[1] %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <div class="profile-container">
      <div class="profile">
        <strong>Name</strong>: <%= userProfile.displayName %> <br />
        <strong>Role</strong>: <%= userRole %> <br />
      </div>
      <a href="/logout" class="signout">Sign Out</a>
    </div>
  </body>
</html>
