<!-- views/auth.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Chick-fil-A's Login Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <!-- load bulma css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="shortcut icon"
      href="https://www.freepnglogos.com/uploads/chick-fil-a-png-logo/chiefs-dominate-against-war-eagles-png-logo-7.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- load fontawesome -->
    <style>
      body {
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
        flex-direction: column;
        width: auto;
        margin: 0 auto;
      }

      .logo {
        margin-bottom: 35px;
        height: 20%;
        width: 20%;
      }

      .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        width: 25%;
        height: 20%;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
      }

      .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      a {
        background-color: #e83535;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        margin-bottom: 10px;
        font-size: 16px;
        cursor: pointer;
        justify-content: center;
      }

      a:hover {
        background-color: #fff;
        color: #f44242;
        text-decoration: none;
      }

      /*Google Translate API*/

      #google_translate_element {
        position: fixed;
        top: 2%;
        right: 3%;
        color: transparent;
      }

      #google_translate_element a {
        display: none;
      }

      .goog-te-gadget {
        color: transparent !important;
      }

      .goog-te-gadget img {
        display: none !important;
      }

      body > .skiptranslate {
        display: none;
      }

      /*Weather API*/

      fieldset {
        display: block;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-before: 0em;
        -webkit-padding-start: 0em;
        -webkit-padding-end: 0em;
        -webkit-padding-after: 0em;
        border: 0px;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        min-width: -webkit-min-content;
      }

      form {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 1.3%;
        right: 15%;
      }

      .display-weather {
        background-color: #fff;
        padding: 5px 10px 10px 10px;
      }

      input[type="text"] {
        display: inline-block;
        width: 100%;
        margin-right: 10px;
        border-radius: 3px;
      }

      input[type="submit"] {
        display: inline-block;
        width: 100%;
      }

      .ghost-input,
      p {
        display: block;
        font-size: 15px;
        border: 0px;
        outline: none;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: #fff;
        margin: 10px 0px;
        color: red;
      }

      .ghost-input:focus {
        border-bottom: 1px solid #ddd;
      }

      .ghost-button {
        background-color: transparent;
        border: 1px solid #ddd;
        font-size: 13px;
        margin: 10px 0px;
        border-radius: 3px;
      }

      .ghost-button:hover {
        border: 1px solid #515151;
      }

      .grid {
        width: 100%;
      }

      .dropdown {
        position: absolute;
        top: 2%;
        right: 13%;
      }

      .dropbtn {
        background-color: red;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
        margin-right: 5px;
        border-radius: 3px;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        right: 10%;
        margin-top: 10px;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }
    </style>

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            includedLanguages: "en,zh-CN,cs,da,fr,es,vi",
          },
          "google_translate_element"
        );
      }
    </script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
  </head>

  <body>
    <!--Weather API Section-->
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input
            name="city"
            type="text"
            class="ghost-input"
            placeholder="Enter a City"
            required
          />
          <input type="submit" class="ghost-button" value="Get Weather" />
        </form>
      </fieldset>
      <%if( weather !==null){ %>
      <div class="dropdown">
        <button class="dropbtn">&#9662;</button>
        <div class="dropdown-content">
          <div class="display-weather">
            <div class="grid">
              <p><%= place %></p>
              <p class="text-muted small"><%= timezone %></p>
            </div>
            <div class="card-deck">
              <div class="card card-accent-dark mb-3">
                <div class="card-body text-dark">
                  <img src="<%= icon %>" alt="Weather-Icon" />
                  <h5 class="card-title">Temperature</h5>
                  <p class="card-text">
                    In Degrees: <%= temp %>°C/ <%= fahrenheit %>°F
                  </p>
                  <h5 class="card-title">Main</h5>
                  <p class="card-text"><%= main %></p>
                </div>
              </div>
            </div>
            <% } %> <% if(error !==null){ %>
            <p><%= error %></p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <!---Google Translate API Section--->
    <div id="google_translate_element"></div>

    <!---Google OAuth and Login Section--->
    <img src="/Chick-fil-A-Logo.png" class="logo" />
    <h1 class="store-name">Chick-fil-A</h1>
    <div class="login-container">
      <div class="button-container">
        <h5>Login or Register with:</h5>
        <a href="/auth/google" class="signin"
          ><span class="fa fa-google"></span> Sign In with Google</a
        >
      </div>
    </div>
  </body>
</html>
